body {
  background-color: #ffb000;
}

.display {
  width: 95%;
  margin: 0 auto;
}

.centerDiv {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

.burger {
  display: block;
  text-align: center;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.center {
  clear: both;
}

button[type=submit] {
  padding: 10px 25px;
  color: #fff;
  background-color: #337ab7;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 15px;
}

.wishlist {
  display: block;
  background-color: #fff;
  height: 40px;
  text-align: center;
  padding: 10px 10px 5px;
  width: 60%;
  margin-bottom: 10px;
  float: left;
}

.change-devour {
  display: block;
  float: left;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px 25px;
  margin-left: 20px;
}

.burger.right {
  color: #727279;
}